$color_border: #dee2e6;

.markdown_viewer {
  & {
    width: 100%;
    height: auto;
    padding: 16px;
    color: #0e430f;
  }

  h1, h2, h3 {
    padding: 24px 0 8px;
  }

  h1 {
    font-size: 32px;
    font-weight: revert;
  }

  h2 {
    font-size: 26px;
    font-weight: revert;
  }

  h3 {
    font-size: 20px;
    font-weight: revert;
  }

  p {
    padding-bottom: 8px;
  }

  hr {
    height: 8px;
    border-top-width: 2px;
    color: oklch(96.7% 0.003 264.542);
  }

  a {
    color: #df0a0a;
    transition: color 0.7s ease;
  }

  a:hover {
    text-decoration: underline;
    color: #080003;
  }

  table {
    margin: 4px 0;
    border-collapse: collapse;
    width: 100%;
    color: #212529;
  }

  th, td {
    border: 1px solid $color_border;
  }

  thead {
    th {
      color: #495057;
      background-color: #e9ecef;
      border-color: $color_border;
      border-bottom-width: 2px;
      border-bottom: 2px solid $color_border;
      padding: 4px;
    }
  }

  tbody {
    tr:nth-of-type(odd) {
      background-color: #eaf5ea;
    }
  }

  td {
    padding: 4px;
  }

  @media screen and (max-width: 768px) {
  }
}
