/* スプラッシュ画面のスタイル */
/* スプラッシュ画面のスタイル */
.splash-screen {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: flex-start;
    /* ← 上詰めにする */
    align-items: center;
    background: linear-gradient(135deg, #ffe0f0, #f8a6c1, #e07f9f, #c76e8a, #ba527b);
    background-size: 400% 400%;
    animation: gradientAnimation 2s ease infinite;
    /* 5秒でグラデーションが移動 */
    z-index: 9999;
    opacity: 1;
    transition: opacity 2s ease-in-out;

    h1 {
        font-size: 5rem;
        color: #fff;
        margin-top: 30px;
        margin-bottom: 20px;
        animation: fadeIn 2s ease-in-out;
        text-align: center;
    }
}

.interests-page {
    .splash-screen {
        background: linear-gradient(135deg, #616d61, #7ba17b, #659765, #325e32, #082208);
        background-size: 400% 400%;
        animation: gradientAnimation 2s ease infinite;
    }

    .activity-image {
        border: 6px solid #d662b1;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* 画像を円形にし、アニメーション */
.activity-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.activity-image {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    /* 円形 */
    opacity: 0;
    transform: scale(0);
    animation: floatUp 1s forwards;
    /* 画像が浮かび上がるアニメーション */
    transition: transform 2s ease, opacity 2s ease;
    border: 6px solid #299658;
    /* 濃い緑色の輪郭を追加 */
}

/* アニメーションの定義 */
@keyframes floatUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 900px) {

    .splash-screen h1 {
        margin-top: 50px;
        top: 10px;
        font-size: 2.5rem;
        z-index: 1;
    }

}