section[id] {
    scroll-margin-top: 210px;
    /* ← 固定ヘッダーの高さに合わせて調整 */
}

.explanation {
    text-align: left;
}

.explanation h2 {
    font-size: 1.8rem;
}

.explanation h3 {
    font-size: 1.6rem;
}

.explanation h4 {
    font-size: 1.4rem;
}

.explanation p {
    font-size: 1.0rem;
    margin-bottom: 5px;
}


.flow {
    text-align: left;
    scroll-margin-top: 140px;
}

.index {
    z-index: 100;
    position: sticky;
    top: 140px;
    margin: 0 5px;
    text-align: left;
    background-color: #e7fce2;
    /* Bootstrapで使われる薄いグレー */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #b4b2b2;
}

.index a:visited {
    color: #011802;
    font-weight: bold;
}

.index li a {
    color: #07ba1f;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.article-image {
    margin: 50px 0;
}

.custom-card-small {
    height: 250px;
}

.custom-card-small h4 {
    font-size: 1.1rem;
}

.custom-card-small p {
    font-size: 0.7rem;
}

.custom-card-small img {
    height: 150px;
    object-fit: cover;
}

.detail_image {
    border: 2px solid #419f30;
    border-radius: 2%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.heading-countryside-related h2 {
    margin: 5px 0;
    text-align: center;
    font-size: 1.2rem;
}

#intro-column {
    background-color: #e7fce2;
    /* 同じ色 */
    padding: 4px;
    border-radius: 8px;
    /* 目次と違ってボーダーなし or シャドウで差別化 */
    border: 1px solid #c0c0c0;
    box-shadow: 0 2px 6px rgba(2, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .menu li {
        height: 42px;
    }

    .menu li button {
        height: 40px;
        text-align: center;
    }

    .explanation h2 {
        font-size: 1.2rem;
    }

    .explanation h3 {
        font-size: 0.9rem;
    }

    .explanation h4 {
        font-size: 0.8rem;
    }

    .explanation p {
        font-size: 0.5rem;
        margin-bottom: 5px;
    }

    h3 {
        margin-bottom: 1px;
    }

    li {
        font-size: 0.6rem;
    }

    hr {
        margin: 2px;
    }

}