.image-gallery {
    border: 3px black solid;
    height: 430px;
    display: flex;
    overflow-x: auto;
    gap: 10px; /* 画像間のスペース */
    padding: 3px;
    border-radius: 8px;
}
.image-gallery img {
    border: 2px #0d580e solid;
    height: 95%;
    max-width: 85%;
    height: auto;
    flex-shrink: 0;
    border-radius: 8px; /* 画像に角の丸みを追加 */
    box-shadow: 5px 5px 5px  #333;
    margin-top: 5px;
    margin-bottom: 15px
}

.image-gallery::-webkit-scrollbar {
    height: 16px;
    padding-bottom: 20px;
} 
.image-gallery::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /* スクロールバーのつまみ部分の色 */
    border-radius: 8px; /* つまみ部分の角を丸くする */
}
.image-gallery::-webkit-scrollbar-track {
    background: #f0f0f0; /* スクロールバーのトラック部分の色 */
    border-radius: 8px; /* トラック部分の角を丸くする */
}
.card .card-body h1{
    font-weight: bold;
}

@media (max-width:768px) {
    .image-gallery {
        height: 250px;
        }
    .card-body h3{
        font-size: 15px;
        font-weight: bold;
    }
    .card-body p{
        font-size: 11px;
    }
}
