.container {
    color: #0e430f;
    font-weight: bold;
}

/* セクションのスタイル */
.highlight-section {
    background: #f8f9fa;
    /* 背景色を設定 */
    padding: 20px 0;
    /* 上下の余白を追加 */
    text-align: center;
    /* テキストを中央揃え */
    width: 98%;
    margin: 10px auto;
    /* 中央揃え */
}

.highlight-section h1 {
    font-size: 2.5rem;
    /* 見出しのフォントサイズを調整 */
    font-weight: bold;
    /* 見出しを太字に */
    margin-bottom: 20px;
    /* 見出しと段落の間に余白を追加 */
    color: #0e430f;
    /* テキストの色をダークグレーに */
}

.highlight-section h2 {
    font-weight: bold;
    color: #0e430f;
    text-align: left;
}
.highlight-section h3{
    color: #0e430f;
    text-align: left;
}

.highlight-section p {
    font-size: 1.2rem;
    /* 段落のフォントサイズを少し大きく */
    margin-bottom: 15px;
    /* 段落とボタンの間に余白を追加 */
    color: #0c7b1b;
    /* テキストの色を中間色に */
}

.highlight-section .btn-primary{
    padding: 10px 20px;
    /* ボタンの余白を調整 */
    font-size: 1.1rem;
    /* ボタンのフォントサイズを調整 */
}

.highlight-section .btn-vibe{
    padding: 10px 20px;
    /* ボタンの余白を調整 */
    font-size: 1.1rem;
    /* ボタンのフォントサイズを調整 */
}

.highlight-section .btn-article{
    padding: 10px 20px;
    /* ボタンの余白を調整 */
    font-size: 1.1rem;
    /* ボタンのフォントサイズを調整 */
}


.btn {
    padding: 10px 16px;
    font-size: 15px;
    color: #fff;
    background-color: #0e430f;
    text-decoration: none;
    /* 下線を削除 */
    border-radius: 5px;
    /* 角を丸くする */
    box-shadow: 0 4px 4px rgba(2, 12, 1, 0.2);
    /* ボタンにシャドウを追加 */
    border: none;
    /* ボーダーを削除 */
    display: inline-block;
    /* インラインブロック要素として表示 */
}

.btn.btn-vibe{
    background-color: #590459;
}
.btn.btn-interest{
    background-color: #cc5500;
}
.btn.btn-article{
    background-color: hsl(211, 86%, 36%);
}

.btn:hover {
    background-color: #000400;
    /* ホバー時の背景色 */
}

.gradient-wrapper {
    min-height: 100vh;
    background-color: #f4cfcf;
    /* 両端にグラデーション */
    padding-top: 150px;
}

/* コンテナの背景色を透明に */
.gradient-wrapper .container {
    width: 95%;
    max-width: 100%;
    /* 最大幅を100%にして、親要素の幅に合わせる */
    margin: 0 auto;
    /* 中央揃え */
    padding: 0;
}

.gradient-wrapper .container .row {
    width: 95%;
    max-width: 100%;
    /* 最大幅を100%にして、親要素の幅に合わせる */
    margin: 0 0;
    /* 中央揃え */
}

.card-img-top {
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #083709;
}

.card-img-top:hover {
    filter: brightness(1.1) saturate(0.7);
    opacity: 0.8;
    transform: scale(1.02);
    /* お好みで拡大などの効果も追加可能 */
}

.custom-card {
    box-shadow: 0 4px 4px rgba(2, 12, 1, 0.2);
    color: #0d580e;
    font-weight: bold;
    border: 3px solid #0d580e;
    /* 枠線の色と幅 */
    border-radius: 5px;
    /* 角の丸み */
    height: 450px;
    /* 高さを指定 */
    overflow: hidden;
    /* 内容がはみ出す場合に隠す */
}
/* --- 種類ごとのカスタマイズ --- */
.card-spot {
    border-color: #0d580e; /* 緑系 */
    color: #0d580e;
}

.card-article {
    border: 5px solid #0d59aa; /* 青系 */
    color: #004085;
}

.card-vibe {
    border: 5px solid #940b94; /* 紫系 */
    color: #590459;
}

.card-interest {
    border: 5px solid #894a02;
    color: #cc5500;
}

.custom-card h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

.custom-card img {
    height: 270px;
    /* 画像の高さを指定 */
    object-fit: cover;
    /* 画像のサイズを調整 */
}


.custom-card .card-body {
    height: calc(100% - 150px);
    /* カードの高さから画像の高さを引いた部分を占める */
    overflow: auto;
    /* 内容がはみ出す場合にスクロール */
}

/* スピナーの回転をゆっくりに */
#spinner .spinner-border {
    animation: spin 1.2s linear infinite; /* デフォルトは0.75sくらい */
    width: 3rem;
    height: 3rem;
}

/* "Loading..."の文字を大きく */
#spinner .spinner-border::after {
    content: "Loading...";
    display: block;
    font-size: 1.2rem;
    margin-top: 0.5em;
    color: #198754; /* Bootstrapの緑色 (text-success) と合わせて */
    font-weight: bold;
}

/* カスタムスピンアニメーション */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* 画面が小さい時にロゴとタイトルのサイズを調整 */
@media (max-width:768px) {
    .custom-header .logo-img {
        height: 30px;
        width: 30px;
    }
    .custom-card{
        height: 230px;
    }
    .custom-header .site-name {
        font-size: 1.2rem;
        /* フォントサイズを修正 */
    }

    .btn-primary {
        font-size: 10px;
    }

    .custom-card {
        height: 260px;
        /* 高さを指定 */
    }

    .custom-card img {
        height: 150px;
    }

    .card .card-body {
        padding: 5px;
    }

    .custom-card .card-body h2 {
        font-weight: bold;
        font-size: 16px;
    }

    .custom-card .card-body p {
        font-size: 12px;
    }

    .highlight-section h1 {
        font-size: 1.8rem;
    }

    .highlight-section p {
        font-size: 0.8rem;
    }

    .container h1 {
        font-size: 1.8rem;
    }

}